<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Recette</th>
            <th>Date Création</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cocktail of cocktailList">
            <td><a [routerLink]="['edit', cocktail.id]">{{ cocktail.id }}</a></td>
            <td>{{ cocktail.nom }}</td>
            <td>{{ cocktail.description }}</td>
            <td>{{ cocktail.recette }}</td>
            <td>{{ cocktail.createdAt | date:'dd/MM/yyyy'}}</td>
            <td><span class="delete" (click)="delete(cocktail.id)">X</span></td>
        </tr>
    </tbody>
</table>